<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="favicon.png">
		<title>ngMadlibs</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body ng-app='myApp' ng-cloak>
		<div class="content-width" ng-controller="MyCtrl" ng-init="changeGender()">
			<header class="clearfix header">
				<div class="img-wrapper">
					<img src="images/mad-lib-happy-face.png" class="happyface">
				</div>
				<img src="images/ng-mad-libs-logo.png" class="logo">
				<h1>Automate This!</h1>
			</header>
			<section class="clearfix provide-words" ng-show="activeView === 'form'">
				<h2>Provide the following words:</h2>
				<form ng-model="data.words" placeholder="words" name="myForm" novalidate ng-submit="myForm.$valid && submit()">
					<div class="clearfix main-fields">
						<div class="form-item form-item-full">
							<label>Gender</label>
							<select ng-model="gender" ng-change="changeGender()">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.name" name="name" placeholder="name" required>
							<div class="error-message" ng-if="myForm.name.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.jobTitle" name="jobTitle" placeholder="job title" required>
							<div class="error-message" ng-if="myForm.jobTitle.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.tediousTask" name="tediousTask" placeholder="tedious task" required>
							<div class="error-message" ng-if="myForm.tediousTask.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.dirtyTask" name="dirtyTask" placeholder="dirty task"  required>
							<div class="error-message" ng-if="myForm.dirtyTask.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.celebrity" name="celebrity" placeholder="celebrity" required>
							<div class="error-message" ng-if="myForm.celebrity.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.uselessSkill" name="uselessSkill" placeholder="useless skill" required>
							<div class="error-message" ng-if="myForm.uselessSkill.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.obnoxiousCelebrity" name="obnoxiousCelebrity" placeholder="obnoxious celebrity" required>
							<div class="error-message" ng-if="myForm.obnoxiousCelebrity.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
						<div class="form-item">
							<input type="number" ng-model="data.hugeNumber" name="hugeNumber" placeholder="huge number" required>
							<div class="error-message" ng-if="myForm.hugeNumber.$error.required && myForm.$submitted">
								This field is required.
							</div>
							<div class="error-message" ng-if="myForm.hugeNumber.$error.number && myForm.$submitted">
								This value must be a number.
							</div>
						</div>
						<div class="form-item">
							<input type="text" ng-model="data.adjective" name="adjective" placeholder="adjective" required>
							<div class="error-message" ng-if="myForm.adjective.$error.required && myForm.$submitted">
								This field is required.
							</div>
						</div>
					</div>
					<div class="clearfix form-item-full">
						<input type="submit" value="Generate my Madlib" class="btn">
					</div>
				</form>
			</section>
			<section class="output" ng-hide="activeView === 'form'">
				<p><span class="dynamic-text">{{data.name}}</span> was a <span class="dynamic-text">{{data.jobTitle}}</span> who loved technology. Although {{genderSubject}} loved parts of {{genderPossessive}} job {{genderSubject}} absolutely hated <span class="dynamic-text">{{data.tediousTask}}</span> and <span class="dynamic-text">{{data.dirtyTask}}</span>. So, <span class="dynamic-text">{{data.name}}</span> met with {{genderPossessive}} life mentor <span class="dynamic-text">{{data.celebrity}}</span> who told {{genderObject}} to learn how to <span class="dynamic-text">{{data.uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="dynamic-text">{{data.uselessSkill}}</span> so {{genderSubject}} studied programming instead.</p>
				<p>What a great decision! With {{genderPossessive}} new skills, <span class="dynamic-text">{{data.name}}</span> built a(n) <span class="dynamic-text">{{data.adjective}}</span> robot named <span class="dynamic-text">{{data.obnoxiousCelebrity}}</span> that not only loved <span class="dynamic-text">{{data.dirtyTask}}</span> but did it <span class="dynamic-text">{{data.hugeNumber}}</span> faster.
				</p>
				<div class="clearfix form-item-full">
					<button class="btn" ng-click="reset()">Start Over</button>
				</div>
			</section>
		</div>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>