<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="favicon.png">
		<title>ngMadlibs</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body ng-app=''>
		<div class="content-width">
			<header class="clearfix header">
				<div class="img-wrapper">
					<img src="images/mad-lib-happy-face.png" class="happyface">
				</div>
				<img src="images/ng-mad-libs-logo.png" class="logo">
				<h1>Automate This!</h1>
			</header>
			<section class="clearfix provide-words">
				<h2>Provide the following words:</h2>
				<form ng-model="words" name="form">
					<div class="form-item">
						<input type="text" ng-model="maleName" ng-init="maleName = 'Male name'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="jobTitle" ng-init="jobTitle = 'Job Title'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="tediousTask" ng-init="tediousTask = 'Tedious task'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="dirtyTask" ng-init="dirtyTask = 'Dirty task'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="celebrity" ng-init="celebrity = 'Celebrity'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="uselessSkill"  ng-init="uselessSkill = 'Useless skill'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="obnoxiousCelebrity" ng-init="obnoxiousCelebrity = 'Obnoxious celebrity'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="hugeNumber" ng-init="hugeNumber = 'Huge number'">
					</div>
					<div class="form-item">
						<input type="text" ng-model="adjective" ng-init="adjective = 'adjective'">
					</div>
				</form>
			</section>
			<section class="output">
				<p><span class="dynamic-text">{{maleName}}</span> was a <span class="dynamic-text">{{jobTitle}}</span> who loved technology. Although he loved parts of his job he absolutely hated <span class="dynamic-text">{{tediousTask}}</span> and <span class="dynamic-text">{{dirtyTask}}</span>. So, <span class="dynamic-text">{{maleName}}</span> met with his life mentor <span class="dynamic-text">{{celebrity}}</span> who told him to learn how to <span class="dynamic-text">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="dynamic-text">{{uselessSkill}}</span> so he studied programming instead.</p>
				<p>What a great decision! With his new skills, <span class="dynamic-text">{{maleName}}</span> build a(n) <span class="dynamic-text">{{adjective}}</span> robot named <span class="dynamic-text">{{obnoxiousCelebrity}}</span> that not only loved <span class="dynamic-text">{{dirtyTask}}</span> but did it <span class="dynamic-text">{{hugeNumber}}</span> faster.
				</p>
			</section>
		</div>
		<script src="bower_components/angular/angular.min.js"></script>
	</body>
</html>