<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="favicon.png">
		<title>ngMadlibs</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body ng-app='myApp'>
		<div class="content-width" ng-controller="MyCtrl" ng-init="changeGender()">
			{{activeView}}
			<header class="clearfix header">
				<div class="img-wrapper">
					<img src="images/mad-lib-happy-face.png" class="happyface">
				</div>
				<img src="images/ng-mad-libs-logo.png" class="logo">
				<h1>Automate This!</h1>
			</header>
			<section class="clearfix provide-words" ng-show="activeView = 'form'">
				<h2>Provide the following words:</h2>
				<form ng-model="data.words" placeholder="words" name="myForm" novalidate ng-submit="submit()">
					<div class="form-item form-item-full">
						<label>Gender</label>
						<select ng-model="gender" ng-change="changeGender()">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.name" placeholder="name" required>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.jobTitle" placeholder="job title" required>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.tediousTask" placeholder="tedious task" required>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.dirtyTask" placeholder="dirty task"  required>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.celebrity" placeholder="celebrity" required>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.uselessSkill" placeholder="useless skill"  required>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.obnoxiousCelebrity" placeholder="obnoxious celebrity" required>
					</div>
					<div class="form-item">
						<input type="number" ng-model="data.hugeNumber" placeholder="huge number" required>
					</div>
					<div class="form-item">
						<input type="text" ng-model="data.adjective" placeholder="adjective" required>
					</div>
					<div class="form-item submit-wrapper">
						<input type="submit" value="Generate my Madlib">
					</div>
				</form>
			</section>
			<section class="output" ng-hide="activeView = 'form'">
				<p><span class="dynamic-text">{{data.name}}</span> was a <span class="dynamic-text">{{data.jobTitle}}</span> who loved technology. Although {{data.genderSubject}} loved parts of {{data.genderPossessive}} job {{data.genderSubject}} absolutely hated <span class="dynamic-text">{{data.tediousTask}}</span> and <span class="dynamic-text">{{data.dirtyTask}}</span>. So, <span class="dynamic-text">{{data.name}}</span> met with {{data.genderPossessive}} life mentor <span class="dynamic-text">{{data.celebrity}}</span> who told {{data.genderObject}} to learn how to <span class="dynamic-text">{{data.uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="dynamic-text">{{data.uselessSkill}}</span> so {{data.genderSubject}} studied programming instead.</p>
				<p>What a great decision! With {{data.genderPossessive}} new skills, <span class="dynamic-text">{{data.name}}</span> built a(n) <span class="dynamic-text">{{data.adjective}}</span> robot named <span class="dynamic-text">{{data.obnoxiousCelebrity}}</span> that not only loved <span class="dynamic-text">{{data.dirtyTask}}</span> but did it <span class="dynamic-text">{{data.hugeNumber}}</span> faster.
				</p>
			</section>
		</div>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>