/* main content section in interior pages */
.provide-words {
	padding: 40px;
	border-bottom: 2px solid #000;
}

.output {
	padding: 40px;
}

.dynamic-text {
	text-decoration: underline;
	font-weight: bold;
}